{% if schedulerCommand.state == 'waiting' %}
    <span class="badge text-bg-light">
        {{ ux_icon('tabler:calendar') }}
        {{ ('synolia.ui.statuses.' ~ schedulerCommand.state)|trans }}
    </span>
{% endif %}
{% if schedulerCommand.state == 'in_progress' %}
    <span class="badge text-bg-azure">
        {{ ux_icon('tabler:refresh') }}
        {{ ('synolia.ui.statuses.' ~ schedulerCommand.state)|trans }}
    </span>
{% endif %}
{% if schedulerCommand.state == 'finished' %}
    <span class="badge text-bg-success">
        {{ ux_icon('tabler:check') }}
        {{ ('synolia.ui.statuses.' ~ schedulerCommand.state)|trans }}
    </span>
{% endif %}
{% if schedulerCommand.state == 'error' %}
    <span class="badge text-bg-danger">
        {{ ux_icon('tabler:bell') }}
        {{ ('synolia.ui.statuses.' ~ schedulerCommand.state)|trans }}
    </span>
{% endif %}
{% if schedulerCommand.state == 'termination' %}
    <span class="badge text-bg-warning">
        {{ ux_icon('tabler:bell') }}
        {{ ('synolia.ui.statuses.' ~ schedulerCommand.state)|trans }}
    </span>
{% endif %}
