{% if schedulerCommand.logFile is not null and schedulerCommand.logFile is not empty %}
    <div class="ui buttons">
        <a class="ui labeled icon button " href="{{ viewUrl }}" target="_blank">
            <i class="icon play"></i>
            {{ 'synolia.ui.live_view'|trans }}
        </a>
        <a class="ui labeled icon button blue" href="{{ url }}">
            <i class="icon download"></i>
            {{ 'synolia.ui.download'|trans }} - {{ size|format_bytes }}
        </a>
    </div>
{% endif %}
