{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'synolia.ui.live_view_of_scheduled_command'|trans({'%scheduledCommandName%': scheduledCommand.name|e}) }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default('synolia.ui.live_view_of_scheduled_command'|trans({'%scheduledCommandName%': scheduledCommand.name|e}), 'cogs') }}

    <div class="ui input">
        <input id="grep" type="text" placeholder="Search...">
    </div>

    <pre id="results"></pre>

    {{ sylius_template_event('synolia.admin.command.logs.stylesheets') }}

    <script type="text/javascript">
        {% autoescape 'js' %}
        /* <![CDATA[ */
        var updateTime = {{ updateTime }};
        var route = "{{ route }}";
        /* ]]> */
        {% endautoescape %}
    </script>

    {{ sylius_template_event('synolia.admin.command.logs.javascripts') }}
{% endblock %}
